.verde {
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.amarillo {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;


}

.rojo {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;

}